table .accTable {
  background-color: #ffffff;
  border-collapse: collapse;
  align-items: flex-start;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}
